<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html::headFragment">
</head>

<navbar th:replace="navbar.html::navFragment">
</navbar>

<body>

<div class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                <div class="table-responsive">
                    <table class="center">
                        <thead>
                        <tr>
                            <th scope="col" class="border-0 bg-light center">
                                <div class="p-3 px-3 text-uppercase">Product</div>
                            </th>
                            <th scope="col" class="border-0 bg-light center">
                                <div class="py-3 text-uppercase">Price</div>
                            </th>
                            <th scope="col" class="border-0 bg-light center">
                                <div class="py-3 text-uppercase">Quantity</div>
                            </th>
                            <th scope="col" class="border-0 bg-light center">
                                <div class="py-3 text-uppercase">Remove</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:cellspacing="20" th:each="prod,iterStat : ${cart}">
                            <td class="border-0 bg-light">
                                <h4 class="card-title center" th:text="${prod.key.name}">Product name</h4>
                                <img class="mini-pic" src="http://placehold.it/40x25/000/fff"
                                     th:attr="src='/static/img/product_' + ${prod.key.id} + '.jpg'" alt=""/>
                            </td>
                            <td>
                                <p class="lead" th:text="${prod.key.getPrice()}">100 USD</p>
                            </td>
                            <td>
                                <input class="form-control-lg quantity" type="number" th:value="${prod.value}" min="0"
                                       max="100" step="1"/>
                                <input class="hidden-id" th:value="${prod.key.id}" hidden/>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-lg removeAllFromCart">Remove All</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light">
                                <div class="p-3 px-3 text-uppercase">SUM OF PRICE</div>
                            </td>
                            <td class="bg-light sumOfPrice">
                                <div class="p-3 px-3 text-uppercase" th:value="${sumOfPrice}"
                                     th:text="${sumOfPrice} + ' USD'">Price
                                </div>
                            </td>
                            <td class="center">
                                <form action="/cart" method="post">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to
                                        checkout
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>