<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="head.html::headFragment">>
    </div>
</head>

<navbar th:replace="navbar.html::navFragment">
</navbar>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop - Category</h1>
</div>

<div class="container">
    <div id="categories" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="category,iterStat : ${categories}">
            <div class="card">
                <a th:href="@{/products(productCategoryID=${category.id})}">
                    <img class="card-img-top" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/productCategory_' + ${category.id} + '.png'" alt=""/>
                </a>
                <div class="card-header">
                    <h4 class="card-title" th:text="${category.getName()}">Product name</h4>
                    <p class="card-text" th:text="${category.getDescription()}">Product description... </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>