<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<!--<div class="footer" >-->
<!--        <div >-->
<!--            &copy; 2019 Codecool Budapest-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<footer th:fragment="copy" class="page-footer font-small elegant-color-dark fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2019 Copyright:
        <a href="https://codecool.com/en/">Codecool.com</a>
    </div>
    <!-- Copyright -->

</footer>

</body>
</html>
